@import url('https://fonts.googleapis.com/css?family=Merriweather:400,700|Open+Sans:300,400|Oswald:300,400&display=swap');


body {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

ul li {
    list-style-type: none;
}

h1, h2 {
    font-family: 'Merriweather', Georgia, serif;
}

h3 {
    font-family: 'Merriweather', Georgia, serif;
    font-weight: 400;
}

h4 {
    font-family: 'Oswald', Verdana, sans-serif;
}

p {
    font-family: 'Open Sans', Arial, sans-serif;
}