@import url('https://fonts.googleapis.com/css?family=Merriweather:400,700|Open+Sans:300,400|Oswald:300,400&display=swap');


body {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

ul li {
    list-style-type: none;
}

h1, h2 {
    font-family: 'Merriweather', Georgia, serif;
}

h3 {
    font-family: 'Merriweather', Georgia, serif;
    font-weight: 400;
}

h4 {
    font-family: 'Oswald', Verdana, sans-serif;
}

p {
    font-family: 'Open Sans', Arial, sans-serif;
}

label {
    font-family: 'Open Sans', Arial, sans-serif;
}

.login-input {
    margin-bottom: 3.2%;
}

.image-header {
    background: url('../public//images/auction-lady.png') center 18% no-repeat;
    min-height: 48vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    width: 100%;
    background-size: cover;
    background-position: 60% 50%;
    margin-bottom: 5%;
}

h1.login-page{
    margin-bottom: 2%;
    border-bottom: 4px solid #333366;
    color: #fff;
}

.login-text {
    font-size: 1.3em;
    font-weight: bold;
    color: #fff;
    opacity: 1;
}
.login-p {
    margin-bottom: 1%;
}
.login-form {
    border: 1px solid #333366;
    padding: 2%;
    border-radius: 2%;
}

.login-header {
    margin-bottom: 3%;
    font-weight: bold;
    background-color: #efefef;
    padding: 1%;
    width: 50%;
}
button.login-button {
    background-color: #66b8e0;
    color: #000;
    border-color: #309fd5;
    width: 50%;
    display: flex; justify-content: center;
    margin: 0 auto;
    font-family: 'Open Sans', Arial, sans-serif;
}

.login-special {
    display: flex;
    justify-content: center;
    margin: 3%;
    font-size: 1.1em;
    font-weight: 600;
}
a.plain-link {
    border: none;
    border: 2px solid #b0b0b0;
    background-color: #6c757d;
    padding: 1%;
    margin: 0 auto;
    width: 50%;
    font-family: 'Open Sans', Arial, sans-serif;
}
.line {
    border-top: 1px solid #333366;
    width: 36%;
    margin: 0 auto;
    margin-bottom: 3%;
}
#__next > div > div.container > div.mx-auto.login-form > a {
    margin-bottom: 0;
}
.login-register-recovery {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin: 3% auto;
}
.login-register-recovery p {
    margin-bottom: 8%;
}
.login-register-recovery a {
    padding: 2%;
    text-align: center;
    color: #fff;
    background-color: #4d4d99;
    border: 1px solid #333366;
    margin-bottom: 2%;
}
footer {
    display: flex !important;
    flex-direction: row;
    background-color: #eceae3;
    margin-top: 5%;
}
footer > div {
    width: 45%;
    margin: 2%;
}
.footer-right {
    display: flex;
    flex-direction: column;
    justify-content: right;
    border-left: 1px solid #6c757d;
}
.footer-right a {
    align-self: flex-end;
    color: #5f4e9c;
    border-bottom: 2px solid #fff;
    margin-bottom: 1%;
    padding: 1%;
    padding-bottom: 0;
}
.footer-right p {
    width: 80%;
    text-align: right;
    align-self: flex-end;
    font-weight: bolder;
    background-color: #eceae3;
    padding: 1%;
    margin-bottom: 1%;
}
.footer-left h6{
    color: #333366;
    border-bottom: 2px solid #fff;
    padding: 2%;
}
.footer-left p {
    margin-top: 5%;
}
.copyright {
    padding: 1%;
    padding-bottom: 2%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #5f4e9c;
    margin-bottom: 0;
    color: #fff;
}
.next-link {
    cursor: pointer;
}
.card-format {
    margin-bottom: 3%;
}


@media (min-width: 768px) {
    .login-form {
        max-width: 50%;
    }
}

@media (max-width: 575.98px) {
    .login-register-recovery {
        width: 100%;
    }
    footer {
        padding: 3%;
    }
    footer > div {
        justify-content: center;
    }
    .footer-right p {
        font-size: 1em;
        margin-bottom: 20%;
    }
    footer p, a {
        font-size: .8em;
    }
    .copyright {
        font-size: .8em;
        padding: 3%;
    }
    a.plain-link {
        font-weight: normal;
        padding: 1.5%;
        width: 60%;
    }
}